html,body,div,p,ul,ol,dl,input,h1,h2,h3,h4,h5,h6,textarea,select,header,article,aside,nav,section,footer,hgroup,figcaption,figure{margin:0; padding:0;}
div,header,article,aside,nav,section,footer,hgroup,figcaption,figure,ul,ol{width:auto; height:auto; display:block;}
html{font-size:62.5%; font-family:"\5fae\8f6f\96c5\9ed1","Microsoft YaHei",helvetica,tahoma,arial,verdana,sans-serif;}
body{font-size:100%;}
a{text-decoration:none;}
ul,ol,dl{list-style-type:none;}
img{border:none; display:block;}
h1,h2,h3,h4,h5,h6,strong{font-size:100%; font-weight:normal;}
em,i{font-style:normal;}
input,textarea{border-radius:0; -webkit-appearance:none; outline:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input[type=radio]{border-radius:50%;}
input[type=checkbox]{border-radius:30%;}
table{border-collapse:collapse; border-spacing:0;}
.clear{clear:both;}

.body{color:#fff; background:url(../img/1.png) left top no-repeat #fff; background-size:100% auto;}
.body1{color:#474747; background:url(../img/10.png) left top no-repeat #fff; background-size:100% auto;}
.body2{color:#474747; background:url(../img/11.png) left top no-repeat #fff; background-size:100% auto;}
.fly-body{margin-top:58%; background:url(../img/8.png) 0 2.0rem no-repeat; background-size:100% auto;}
.fly-body img{width:100%; height:auto;}
.fly-time p{margin-left:20%; font-size:1.6em; color:#292929; text-align:center;}
.fly-items{margin-top:5%;}
.fly-items .fly-invita{margin-left:5%; width:61%;}
.fly-items .fly-order{width:55%;}
.fly-items p{margin:1.0em 16%; font-size:1.4em;}
@media only screen and (max-width:320px) and (min-width:320px){.fly-items p{font-size:1.2em!important}}
.fly-items p em{font-weight:600; color:#ffce08;}
.fly-prize{padding:0 25% 0 0;}
.fly-send{position:fixed; top:auto; right:0; bottom:0; left:0; z-index:500; padding:1.0em 0; background:#00aaf1;}
.fly-send img{width:100%; height:auto;}
.send-text{display:-webkit-box; display:-moz-box; display:box;}
.send-text .text{padding:0.5em 2.0em 0;}
@media only screen and (max-width:320px) and (min-width:320px){.send-text .text{padding:0 2.0em!important}}
.send-text p{font-size:2.2em; text-align:center; line-height:1.0em;}
@media only screen and (max-width:320px) and (min-width:320px){.send-text p{font-size:2.0em!important}}
.send-text p em{font-weight:600; color:#ffce08;}
.send-text .butt{-webkit-box-flex:1; -moz-box-flex:1; box-flex:1;}
.send-text .butt a{margin:0 auto; display:block; width:20.0em;}
@media only screen and (max-width:320px) and (min-width:320px){.send-text .butt a{ width:16.0em!important;}}
.send-fang p{font-size:1.8em; text-align:center; line-height:1.0em;}
.send-fang p a{margin:1.0rem 30% 0; display:block;}

.fly-invite{position:relative; margin:37% 3% 0; padding:12% 0 0 15%;}
.fly-invite img{width:100%; height:auto; border-radius:50%;}
.fly-portrait{position:absolute; top:-18%; left:0; padding:2%; width:21%; border-radius:50%; background:#fff;}
.fly-invite p{line-height:2.0em;}
.fly-invite p.a{font-size:1.6em; color:#000;}
.fly-invite p.b{font-size:2.2em; color:#000; font-weight:600;}
.fly-invite p.c{font-size:1.6em; color:#f60;}
.fly-invite p.d{margin-top:5%; padding-right:20%;}
.fly-invite p.d a{padding:1.0rem; display:block; font-size:1.8em; text-align:center; color:#fff; border-radius:0.8rem; background:#f60;}
.fly-invite p.e{margin-top:5%; padding-right:20%;}
.fly-invite p.e a{padding:1.0rem; display:block; font-size:1.8em; text-align:center; color:#fff; border-radius:0.8rem; background:#bbb;}
.foot-Explanation p{padding:.5em; font-size:1.2em; text-align:center; color:#666; background:#000;}
@media only screen and (max-width:320px) and (min-width:320px){
	.fly-invite p{line-height:1.9em;}
	.fly-invite p.b{font-size:1.8em!important;}
	.fly-invite p.a,.fly-invite p.c{font-size:1.4em!important;}
	.fly-invite p.d a{padding:0.5rem!important; font-size:1.4em!important;}
	.fly-invite p.e a{padding:0.5rem!important; font-size:1.4em!important;}
}
@media only screen and (max-width:360px) and (min-width:360px){
	.fly-invite p{line-height:2.1em;}
	.fly-invite p.b{font-size:1.8em!important;}
	.fly-invite p.a,.fly-invite p.c{font-size:1.4em!important;}
	.fly-invite p.d a{padding:0.5rem!important; font-size:1.4em!important;}
	.fly-invite p.e a{padding:0.5rem!important; font-size:1.4em!important;}
}
.fly-ovter{margin:37% 3% 0; padding-top:5%;}
.fly-ovter p{line-height:1.5em; text-align:center;}
.fly-ovter p.a{font-size:1.8em; color:#000;}
.fly-ovter p.b{font-size:2.4em; color:#000; font-weight:600;}
.fly-ovter p.c{margin-top:3%; font-size:2.2em; color:#f60; font-weight:600;}
.fly-ovter p.d{font-size:1.8em; color:#f60;}
.fly-ovter p.e{margin-top:13%; padding-right:6%; font-size:1.6em; color:#fff; text-align:right;}
.fly-ovter p.e em{font-size:1.6em; font-weight:600;}
@media only screen and (max-width:320px) and (min-width:320px){
	.fly-ovter p{line-height:1.4em; }
	.fly-ovter p.a{font-size:1.6em!important;}
	.fly-ovter p.b{font-size:2.0em!important;}
	.fly-ovter p.c{font-size:2.0em!important;}
	.fly-ovter p.d{font-size:1.6em!important;}
	.fly-ovter p.e{font-size:1.2em!important;}
}
@media only screen and (max-width:360px) and (min-width:360px){
	.fly-ovter p{line-height:1.5em; }
	.fly-ovter p.a{font-size:1.6em!important;}
	.fly-ovter p.b{font-size:2.0em!important;}
	.fly-ovter p.c{font-size:2.0em!important;}
	.fly-ovter p.d{font-size:1.6em!important;}
	.fly-ovter p.e{font-size:1.2em!important;}
}

.fly-tabs{padding:10% 5% 1%; background:url(../img/23.png) 0 0 repeat-y; background-size:100% auto;}
.tabs-title{margin-bottom:1.0rem; background:#e1e1e1; background-size:100% auto;}
.tabs-title p{display:-webkit-box; display:-moz-box; display:box; padding:0.5rem 10% 0; font-size:1.6em;}
.tabs-title p span{display:block; width:12.0rem; line-height:2.0em; font-size:1.0em; text-align:center;}
.tabs-title p span.current{color:#2394ef; background:url(../img/18.png) 0 0 no-repeat; background-size:100% auto;}
.tabs-order img{width:100%; height:auto; border-radius:50%;}
.tabs-order ul li{display:-webkit-box; display:-moz-box; display:box; padding:1.0rem 0.5rem; border-bottom:0.1rem solid #e1e1e1;}
.tabs-order ul li .pic{margin-right:5%; width:15%;}
.tabs-order ul li .name{-webkit-box-flex:1; -moz-box-flex:1; box-flex:1; padding-top:2%;}
@media only screen and (max-width:320px) and (min-width:320px){
	.tabs-order ul li .name{ padding-top:0!important;}
}
.tabs-order ul li .name p{line-height:1.5em; font-size:1.2em; color:#878787;}
.tabs-order ul li .name p:first-child{font-size:1.4em; color:#474747;}
.tabs-order ul li .name p em{color:#f60;}
.tabs-order ul li .num{padding-top:5%; width:10%; font-size:1.2rem; text-align:center; color:#a0a0a0; background:url(../img/16.png) 0 50% no-repeat; background-size:100% auto;}
.tabs-order ul li .one{color:#fc752c; background:url(../img/13.png) 0 0 no-repeat; background-size:100% auto;}
.tabs-order ul li .two{color:#565656; background:url(../img/14.png) 0 0 no-repeat; background-size:100% auto;}
.tabs-order ul li .three{color:#d9b59c; background:url(../img/15.png) 0 0 no-repeat; background-size:100% auto;}
.tabs-order .none img{width:100%; height:auto; border-radius:0;}

.tabs-rule{display:none;}
.tabs-rule img{width:100%; height:auto;}
.tabs-rule .rule-lines{margin-bottom:1.0rem; display:-webkit-box; display:-moz-box; display:box;}
.tabs-rule .rule-lines i{margin-right:0.5rem; display:block; width:2.0rem; height:2.0rem; line-height:2.0rem; font-size:1.2em; text-align:center; color:#fff; border-radius:50%; background:#a6d4f8;}
.tabs-rule .rule-lines p{font-size:1.4em; line-height:1.5em; -webkit-box-flex:1; -moz-box-flex:1; box-flex:1;}
.tabs-rule .rule-lines p em{color:#f60;}

.fly-footer{height:1.0rem; background:url(../img/24.png) 0 0 repeat-y; background-size:100% auto;}